.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/AGENTS.md
**/CLAUDE.md
**/claude.md
**/tsconfig.json
**/.eslintrc.json
**/eslint.config.js
**/*.map
**/*.ts
node_modules/**
